<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="strCoon" connectionString="server=192.1.6.28;uid=sa;pwd=Star111;database=QueueSysDB;"/>
    <!--<add name="PDJUrl" connectionString="http://192.1.6.93:8004/"/>-->
    <!--更新中间库的接口地址-->
    <add name="PDJUrl" connectionString="http://10.35.243.191:8080/"/>
    <!--更新中间库的接口地址 预约库地址(排队）-->
    <add name="YWUrl" connectionString="http://10.35.243.206:7778/"/>
    <!--更新中间库的接口地址 业务库库地址-->
    <add name="LHYUrl" connectionString="http://10.35.243.206:7777/"/>
    <!--更新中间库的接口地址 六合一库地址-->
    <add name="UPLOADUrl" connectionString="http://10.35.243.206:8888/tools/UploadImgsHandler.ashx"/>
    <!--图片上传服务地址-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14459/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="LHYserver.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>