<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--更新中间库的接口地址-->
    <add name="WebUrl" connectionString="http://127.0.0.1:8080/"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExamServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.100.144:8012/ExamService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExamServiceSoap"
        contract="examService.ExamServiceSoap" name="ExamServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>